body {
  height: 300vh;
  width: 84em;
}

#red-box {
  margin: 20px;
  padding: 30px;
  width: 150px;
  height: 150px;
  color: white;
  background-color: cornflowerblue;
}

#playground {
  height: 300px;
  width: 300px;
  background-color: lightgreen;
  display: flex;
  flex-wrap: wrap;
}

#plus {
  margin: 40px;
  height: 60px;
  width: 60px;
  background-color: lightpink;
  border: none;
  border-radius: 20px;

}

.place {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

img {
  width: 80px;
}